.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.idea
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
coverage
/dist
.wrangler
test-results
.nyc_output
package-lock.json
/playwright-report
*.svelte.d.ts
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
