.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
/dist
/coverage
/.changeset
/playwright-report
/test-results
CHANGELOG.md

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
